#faces{
	a{
		cursor: pointer;
		text-decoration: none;
		margin-right: 40px;
	}
	a:last-of-type{
		margin-right: 0;
	}
	#sad{
		color: $sadFace;
		&:hover{
			color: $sadFaceHover;
		}

	}

	#ok{
		color: $okFace;
		&:hover{
			color: $okFaceHover;
		}
	}
	#neutral{
		color: $neutralFace;
		&:hover{
			color: $neutralFaceHover;
		}
	}
}