// questionaire for user
#questionaire-container{
		.questionaire-live{
			text-align: center;
		#textQ{
			font-size: 28px;
		}
		#navigation{
			position: relative;
			button{
				width: 100px;
			}
			#prev, #next, #send{
				position: absolute;
			}
			#prev{
				left: calc(50.5% - 105px);
			}
			#next, #send{
				left: 50.5%;
			}
			margin-top: 10px;
		}
		 #stars{
		 	cursor: pointer;
		 	font-size: 40px;
		 	span{
		 		outline: none;
		 	}
		 	i{
		 		color: #efb023;
		 	}
		 }
		 #buttons{
		 	padding-top: 5px;
		 }
		 #stars, #buttons{
		 	height: 50px;
		 }
		 #faces{
		 	height: 70px;
		 }

		 //admin

		 #chart{
		 	margin-top: 50px;
		 }

	}
}


// questionaire for admin
.questionaire{
	.type{
		height: 50px;
	}
	#textQ{
		word-break: break-word;
		font-size: 26px;
	}
	#stars{
		cursor: pointer;
		font-size: 40px;
		span{
			outline: none;
		}
		i{
			color: #efb023;
		}
	}
	#buttons{
		padding-top: 5px;
	}
	 //admin

	 #chart{
	 	margin-top: 50px;
	 }

	}
	@media (max-width: 640px){
		.questionaire{
			#textQ{
				font-size: 22px;
			}
			#stars{
				font-size: 30px;
			}
		}
	}