$darkText: #373b3f;
$whiteText: #eeeeee;
$whiteBg: #eeeeee;
$bodyBg: #95a3b3;
$sadFace: #f14b4b;
$sadFaceHover: #d43232;
$neutralFace: #bebec0;
$neutralFaceHover: #7b7b7c;
$okFace: #18c842;
$okFaceHover: #15b13a;
@import 'questionaires';
@import 'navbar';
@import 'faces';
@import 'create';
@import 'questionaire';
@import 'navigation';
@import 'results';
//general
.admin-bg{
	background-color: $bodyBg;
}
.user-bg{
	background-color: #EEEEEE;
}

body{
	padding: 20px;
}
#logo{
	display: block;
	margin: 0 auto;
}
h1,h2,h3,h4,h5,a,p{
	font-family: 'Source Sans Pro', sans-serif;
}

@media(max-width: 640px){
	#logo{
		width: 260px;
	}
}

@media (max-width: 420px){
	#logo{
		width: 220px;
	}

}

//buttons

.btn.btn-active-q{
	box-sizing: border-box;
	background-color: #eeeeee;
	color: #00bb59;
	border: 1px solid #00bb59;
}
.btn.btn-next-q{
	box-sizing: border-box;
	background-color: #eeeeee;
	color: #00bb59;
	border: 1px solid #007fba;
}