<div class="questionaire">
	<h2>{{nameQ}}sdjfhsd</h2>
	<p id="textQ">{{textQ}}</p>
	{{rate.aa}}
	<div id="stars"  ng-if="!typeQ" ng-click="voteQ()">
		<span uib-rating ng-model="rating.rate" max="rating.max" read-only="rating.isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
	</div>
	<div class="buttons" ng-if="typeQ" ng-click="voteQ()">
        <label class="btn btn-primary" ng-model="rating.rate" uib-btn-radio="1">Tak</label>
        <label class="btn btn-primary" ng-model="rating.rate" uib-btn-radio="0">Nie</label>
	</div>
	<div id="navigation">
		<button ng-click="previousQ()" class = "btn btn-warning">Poprzednie</button>
		<button ng-click="nextQ()" class = "btn btn-primary">Nastepne</button>
		<button ng-click="sendVote()" class="btn btn-success">Wyślij</button>
	</div>

</div>