<div id="resultsQ">
	<div class="row" id="calendars-row">
		<div id="calendars" class="col-xs-12">
			<div class="col-md-2">
				<p>{{questionaire.name}} <span>(Głosów: {{votesQ.length}})</span></p>
			</div>
			<div class="col-md-2">
				<button id="actualization" class="btn btn-default" ng-click="getVotesBetweenDates()">aktualizuj</button>
			</div>
			<div class="col-md-4">
				<p class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>

			<div class="col-md-4">
				<p class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup ng-model="dt2" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</p>
			</div>
		</div>
	</div>
	<div class="row"  id="charts-row">
		<div class="col-md-4 chart-container" ng-repeat="question in questionaire.questions track by $index">
			<div >
				<p>{{question.text}}</p>
				<span id="percent">%</span>
				<canvas id="bar" class="chart chart-bar"
				  chart-data="question.chart" chart-labels="question.labels" chart-series="series">
				</canvas>
				<span>Ocena</span>
			</div>
		</div>
	</div>
</div>

